@font-face {
    font-family: Sahel;
    src: url("../webfonts/Sahel/Sahel.eot");
    src: url("../webfonts/Sahel/Sahel.eot?#iefix") format("embedded-opentype"),
        url("../webfonts/Sahel/Sahel.woff2") format("woff2"),
        url("../webfonts/Sahel/Sahel.woff") format("woff"),
        url("../webfonts/Sahel/Sahel.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url("../webfonts/Sahel/Sahel-Bold.eot");
    src: url("../webfonts/Sahel/Sahel-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../webfonts/Sahel/Sahel-Bold.woff2") format("woff2"),
        url("../webfonts/Sahel/Sahel-Bold.woff") format("woff"),
        url("../webfonts/Sahel/Sahel-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url("../webfonts/Sahel/Sahel-Light.eot");
    src: url("../webfonts/Sahel/Sahel-Light.eot?#iefix")
            format("embedded-opentype"),
        url("../webfonts/Sahel/Sahel-Light.woff2") format("woff2"),
        url("../webfonts/Sahel/Sahel-Light.woff") format("woff"),
        url("../webfonts/Sahel/Sahel-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: Sahel;
    src: url("../webfonts/Sahel/Sahel-SemiBold.eot");
    src: url("../webfonts/Sahel/Sahel-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("../webfonts/Sahel/Sahel-SemiBold.woff2") format("woff2"),
        url("../webfonts/Sahel/Sahel-SemiBold.woff") format("woff"),
        url("../webfonts/Sahel/Sahel-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: Sahel;
    src: url("../webfonts/Sahel/Sahel-Black.eot");
    src: url("../webfonts/Sahel/Sahel-Black.eot?#iefix")
            format("embedded-opentype"),
        url("../webfonts/Sahel/Sahel-Black.woff2") format("woff2"),
        url("../webfonts/Sahel/Sahel-Black.woff") format("woff"),
        url("../webfonts/Sahel/Sahel-Black.ttf") format("truetype");
    font-weight: 900;
}

/* -------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sahel, sans-serif;
    font-weight: normal;
}

body {
    background-color: #efefef;
    font-size: 16px;
}

.todos {
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px 0;
}

.todo {
    width: 95%;
    height: 95px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
    padding: 0px 15px;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.todo-subject {
    font-size: 1rem;
    overflow: hidden;
    font-weight: bold;
}

.todo-text {
    margin-top: 5px;
    font-size: 0.9rem;
    overflow-wrap: break-word;
    height: 2.85rem;
    overflow: hidden;
}

.new-todo-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 20px;
    background-color: orange;
    text-shadow: 0 0 1px rgb(129, 129, 129);
    color: #fff;
    font-size: 20px;
}

.new-todo-button:hover {
    box-shadow: 0 0 10px rgb(133, 133, 133);
}

.editor-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(248, 255, 185);
    position: fixed;
    right: -100vw;
    bottom: 0;
    transition: 0.25s ease all;
}

.editor-container__active {
    right: 0;
}

.header-container {
    width: 100%;
    height: 50px; /*! Use Css Variable For Set It And todo-container Padding from Top*/
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popUp-catergoriSelect {
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: orange;
    /* border-radius: 10px 10px 0 0; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 0.1px solid black;
    transition: 0.5s ease all;
    z-index: 300;
}

.popUpTop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.popUp-catergoriSelect > div {
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: rgb(18, 90, 207);
    color: white;
    /* width: 90%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.catName {
    color: #fff;
    margin-left: 2.5%;
    font-weight: bold;
    text-shadow: 0 0 5px #999;
    display: flex;
    align-items: center;
}

.catNameButton {
    margin-left: 2px;
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 50%;
    transition: 0.5s ease all;
    z-index: 100;
}

.catNameButton:hover {
    background-color: #fff;
    color: #000;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.show-searchBar {
    margin-right: 50px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: 0.5s ease all;
}

.show-searchBar:hover {
    text-shadow: 0 0 10px rgb(82, 82, 82);
}

.fixed-searchBar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    background-color: orange;
    border: 1px solid red;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: ease 1s all;
}

.searchBar-backButton {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 50%;
    margin-left: 2.5%;
    transition: ease 0.5s all;
}

.searchBar-backButton:hover {
    background-color: #fff;
    color: black;
}

.searchBar-input {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    margin: 0px 20px;
    width: 80%;
}

.searchBar-input:hover {
    box-shadow: 0.1px 0.1px 0.1px 5px rgba(255, 255, 255, 0.397);
}

.searchBar-input > i {
    font-size: 12px;
    opacity: 0.5;
    background-color: #fff;
    border: none;
    padding: 3px;
    margin-left: 5px;
}

.searchBar-input > input {
    border: none;
    margin-right: 5px;
    width: 95%;
    padding: 7px;
    direction: rtl;
}

.moreOptions-button {
    border: none;
    background-color: orange;
    color: white;
    font-size: 17px;
    width: 25px;
    height: 25px;
    transition: ease 0.25s background-color;
    border-radius: 50%;
    margin-right: 20px;
}

.moreOptions-button:hover {
    background-color: #fff;
    color: black;
}
