.todos {
  width: 100%;
  height: var(--todos-container-height);
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 60px;
  overflow-y: scroll;

  width: var(--todos-container-width);
  margin-left: auto;
  margin-top: 0px;
  height: 100%;
  box-shadow: inset 0.1px 0.1px 10px #ccc;
}

.todo {
  width: 95%;
  height: 95px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 5px #888;
  padding: 0px 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: var(--todos-margin) !important;
  transition: 0.15s ease all;
}

.todo:hover {
  box-shadow: 0.5px 0.5px 10px rgb(0, 0, 0);
}

.todo-subject {
  font-size: 1rem;
  overflow: hidden;
  font-weight: bold;
}

.todo-text {
  margin-top: 5px;
  font-size: 0.9rem;
  overflow-wrap: break-word;
  height: 3rem;
  overflow: hidden;
}

.new-todo-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 20px;
  background-color: orange;
  text-shadow: 0 0 1px rgb(129, 129, 129);
  color: #fff;
  font-size: 20px;

  right: calc(var(--popUps-right) + 20px);
}

.new-todo-button:hover {
  box-shadow: 0 0 10px rgb(133, 133, 133);
}

.editor-container {
  width: var(--todos-container-width);
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: var(--popUps-right);
  bottom: 0;
  transition: 0.25s ease all;
}

.header-container {
  width: var(--todos-container-width);
  position: relative;
  height: var(--header-height);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.popUp-catergoriSelect {
  overflow-x: hidden;
  position: fixed;
  padding: 10px 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: orange;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 0.1px solid black;
  transition: 0.5s ease all;
  padding-bottom: 100px;
  height: 70vh;

  z-index: 300;

  width: var(--todos-container-width);
}

.popUpTop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 30vh;
  background-color: transparent;
}

.popUp-catergoriSelect > div {
  padding: 10px;
  margin: 10px 5px;
  border-radius: 5px;
  background-color: rgb(18, 90, 207);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.catName {
  color: #fff;
  margin-left: 2.5%;
  font-weight: bold;
  text-shadow: 0 0 5px #999;
  background-color: orange;
  border: none;
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 1.1rem;
}

.catName > * {
  font-weight: bold;
  color: white;
}

.catName > p {
  width: 100px;
  overflow: hidden;
}

.catNameButton {
  margin-left: 2px;
  font-size: 18px;
  padding: 2px 5px;
  border-radius: 50%;
  transition: 0.5s ease all;
  z-index: 100;
}

.catNameButton:hover {
  background-color: #fff;
  color: #000;
}

.show-searchBar {
  margin-right: 50px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: 0.5s ease all;
}

.show-searchBar:hover {
  text-shadow: 0 0 10px rgb(82, 82, 82);
}

.fixed-searchBar {
  position: fixed;
  width: 100%;
  position: absolute;
  height: 50px;
  top: 0;
  background-color: orange;

  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: ease 1s all;
}

.searchBar-backButton {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  background-color: orange;
  color: white;
  border-radius: 50%;
  margin-left: 2.5%;
  transition: ease 0.5s all;
}

.searchBar-backButton:hover {
  background-color: #fff;
  color: black;
}

.searchBar-input {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  margin: 0px 20px;
  width: 80%;
}

.searchBar-input:hover {
  box-shadow: 0.1px 0.1px 0.1px 5px rgba(255, 255, 255, 0.397);
}

.searchBar-input > i {
  font-size: 12px;
  opacity: 0.5;
  background-color: #fff;
  border: none;
  padding: 3px;
  margin-left: 5px;
}

.searchBar-input > input {
  border: none;
  margin-right: 5px;
  width: 95%;
  padding: 7px;
  direction: rtl;
}

.moreOptions-button {
  border: none;
  background-color: orange;
  color: white;
  font-size: 17px;
  width: 25px;
  height: 25px;
  transition: ease 0.25s background-color;
  border-radius: 50%;
  margin-right: 20px;
}

.moreOptions-button:hover {
  background-color: #fff;
  color: black;
}

.more-options {
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 200;
  background-color: #fff;
  box-shadow: 0.25px 0.25px 10px rgba(0, 0, 0, 0.651);

  right: calc(var(--popUps-right) + 10px);
}

.more-options > * {
  padding: 5px;
  margin: 5px;
  color: rgb(0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 8px #000;
  min-width: 100px;
  display: block;
}

.more-options > *:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.774);
}

.close-categoriSelect {
  width: 100vw;
  height: 2000px;
  background-color: transparent;
  position: fixed;
}

.about-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--todos-container-width);
  margin-left: auto;
}

.app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.editor-main {
  width: 95%;
  height: 95%;
  position: relative;
}

.editor-nav {
  width: 150px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0.5px 0.5px 10px rgb(119, 119, 119);
}

.editor-nav:hover {
  box-shadow: 0.5px 0.5px 0.5px 5px rgba(255, 166, 0, 0.479);
}

.new-btn {
  width: 90px;
  display: flex;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.new-btn > button {
  width: 40px;
  height: 35px;
  color: rgb(0, 0, 0), 255, 255;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  box-shadow: 0.5px 0.5px 10px rgb(119, 119, 119);
  margin: 0px 2.5px;
}

.new-btn-add:hover {
  background-color: green;
  color: white;
}

.new-btn-del:hover {
  background-color: red;
  color: white;
}

.editor-todo-title {
  width: 100%;
  margin-top: 40px;
  height: 40px;
}

.editor-todo-title > * {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  font-size: 1rem;
  direction: rtl;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 10px rgb(119, 119, 119);
}

.editor-todo-text {
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 5px;
}

.editor-todo-text > * {
  box-shadow: 0.5px 0.5px 10px rgb(119, 119, 119);
  width: 100%;
  height: 100%;
  font-size: 1rem;
  direction: rtl;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.currentCatName {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  overflow: hidden;
}

.currentCatName > i {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  transition: all ease 0.25s;
  color: black;
}

.currentCatName > i:hover {
  background-color: orange;
  color: white;
}

.categori:hover {
  box-shadow: 0.25px 0.25px 0.25px 5px rgba(255, 255, 255, 0.541);
}

.categoriEditorTools {
  width: 200px;
  justify-content: space-around;
  margin-left: auto;
}

.categoriEditorTools > i {
  transition: 0.25s all ease;
  border: none;
  border-radius: 50%;
  padding: 7px;
}

.categoriEditorTools > i:hover {
  background-color: orange;
}

.popUpTop > input {
  z-index: 200000;
  margin-top: 100px;
  margin-bottom: auto;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 50px rgb(58, 58, 58);
  direction: rtl;
  font-size: 1.1rem;

  padding: 5px;
  text-align: center;
}

.addNewCategoriButton > i {
  transition: 0.25s all ease;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  padding: 7px;
  color: black;
}

.addNewCategoriButton > i:hover {
  background-color: blue;
  color: white;
}
